$black: #111111;
$white: #FFFFFF;
$blue: #0041A0;
$dark-gray: #909090;
$dark-blue: #002F6C;
$gray: #BCBCBC;
$light-blue: #99B3D8;
$red: #FF0000;
$dark-red: #BF1D26;
$dark-red-2: #81080F;
$light-gray: #F4F4F4;