@import './colors.scss';

.link-button {
	$root: &;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
	width: 100%;
	max-width: 327px;
	padding: 8px 14px 10px 14px;
	margin-top: 40px;

	border: 1px solid $gray;
	border-radius: 24px;

	transition: background-color 0.3s, border-color 0.3s, outline 0.3s;

	&:disabled {
		.link-button__text {
			color: $dark-gray;
		}

		.link-button__svg {
			fill: $dark-gray;
		}

		border-color: $gray;

		pointer-events: none;
	}

	@media (hover: hover) {
		&:hover {
			background-color: $blue;
			border-color: $blue;

			.link-button__text {
				color: $white;
			}

			.link-button__svg {
				fill: $white;
			}
		}

		&:focus {
			outline: 2px solid $light-blue;

			.link-button__text {
				color: $blue;
			}

			.link-button__svg {
				fill: $blue;
			}
		}
	}

	&:active {
		background-color: $dark-blue;
		border-color: $dark-blue;

		.link-button__text {
			color: $white;
		}

		.link-button__svg {
			fill: $white;
		}
	}

	@media (min-width: 768px) {
		width: max-content;
		max-width: none;
		padding-left: 18px;
		gap: 14px;
	}

	@media (min-width: 1280px) {
		padding-left: 16px;
		gap: 12px;
	}

	@media (min-width: 1920px) {
		padding: 7px 14px 9px 18px;
	}

	&__text {
		font-family: Arial, sans-serif;
		font-size: 16px;
		color: $black;

		transition: color 0.3s;

		@media (min-width: 1280px) {
			font-size: 14px;
		}

		@media (min-width: 1920px) {
			font-size: 16px;
		}
	}

	&__arrow {
		width: 24px;
		height: 24px;

		@media (min-width: 1920px) {
			width: 32px;
			height: 32px;
		}

		.link-button__svg {
			width: 100%;
			height: 100%;

			fill: $dark-blue;

			transition: fill 0.3s;
		}
	}

	&--alt-color {
		border: 1px solid $red;
		background-color: $red;

		.link-button__text {
			color: $white;
		}

		.link-button__svg {
			fill: $white;
		}

		&:disabled {
			background-color: $light-gray;
			border-color: $light-gray;
		}

		@media (hover: hover) {
			&:hover {
				border-color: $dark-red;
				background-color: $dark-red;
			}

			&:focus {
				border-color: $light-blue;

				.link-button__text {
					color: $white;
				}

				.link-button__svg {
					fill: $white;
				}
			}
		}

		&:active {
			border-color: $dark-red-2;
			background-color: $dark-red-2;
		}
	}
}